.prod-1 p{
    font-size: x-large;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 0;
}
.prod-2 p{
    font-size: x-large;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 0;
}
.prod-3 p{
    font-size: x-large;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 0;
}

.items li{
    text-decoration: none;
}
